<form method="POST" action="user">
       <table>
               <tr>
                    <td>Name</td>
                    <td>:</td>
                    <td><input type="text" name="name" /></td>
               </tr>
               <tr>
                    <td>Mobile</td>
                    <td>:</td>
                    <td><input type="text" name="mobil" /></td>
               </tr>
               <tr>
                    <td colspan="2"></td>
                    <td><input type="submit" value="submit" /></td>
               </tr>
       </table>
</form>