<form method="POST" action="user">
       <table>
               <tr>
                    <td>Nama</td>
                    <td>:</td>
                    <td><input type="text" name="nama" /></td>
               </tr>
               <tr>
                    <td>Mobil</td>
                    <td>:</td>
                    <td><input type="text" name="mobil" /></td>
               </tr>
              
               <tr>
                    <td colspan="2"></td>
                    <td><input type="submit" value="Enter" /></td>
               </tr>
       </table>
</form>
<h1>
       <table border='3'>
               <tr>
                    <td>No</td>
                    <td>Name</td>
                    <td>Mobile</td>
                    <td>Configuration</td>
               </tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

               </ul>
       </table>
</h1>